@model DMS.Models.STRG_LOC_TBL

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>STRG_LOC_TBL</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.STRG_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STRG_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STRG_LOC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STRG_LOC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
